doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='humphry.huang9@gmail.com')
    title Theme Stein for Bootstrap
    link(href='resource/module/fontawesome/4.3.0/css/font-awesome.css', rel='stylesheet')
    link(href='resource/style/theme.css', rel='stylesheet')
  body.with-fix-top
    // Fixed navbar
    nav.navbar.navbar-fixed-top.navbar-default
      .container
        .navbar-header
          a.navbar-brand(href='/') Boostrap-stein
        nav
          ul.nav.navbar-nav
            li.active
              a(href="#document" data-toggle="collapse") Theme 
                b.caret
            li
              a(href="/table.html") Table
        ul.nav.navbar-nav.navbar-right
          li
            a(href="mailto:humphry.huang9@gmail.com")
              i.fa.fa-user
              |  Humphry Huang
          li
            a(href="javascript:;")
              i.fa.fa-sign-out
    #document.collapse.out
      div(style="padding: 2em 0 3em; background: #5bc0de; color:#FFF;")
        .container
          .row
            .col-xs-8
              h1 "Stein" the Theme
              p This theme is inspired by stacks of sheets. Colors are limited to active controls and things of importance. Thus leaning towards better focus.
              p To compile this theme successfully, you need to move <code>source/less/variables.less</code> to <code>source/less/bootstrap/variables.less</code> , or to make a soft link.
            .col-xs-4
              a.pull-right(href="#document" style="color:#FFF;" data-toggle="collapse"): i.fa.fa-close
              h2 Dependencies
              ul
                li The javascript part of <b>Bootstrap 3.3.4</b>
                li The less part of <b>Bootstrap 3.3.4</b>
                li <b>Font Awesome 4.3.0</b>
                li <b>jQuery 1.11.2</b>
    .container(role='main')
      .bs-docs-section#panels
        .row
          .col-xs-8
            .page-header
              h1 Panels
            .panel.panel-plain
              .panel-heading
                h3.panel-title Plain Search Panel
              .panel-body
                p Whatever you want:
                .input-group
                  input.form-control(type="text" placeholder="Type your word...")
                  .input-group-btn
                    button.btn.btn-default(type="submit")
                      i.fa.fa-search
            .panel.panel-default
              .panel-heading
                h3.panel-title(style="color:#39cccc") Colored Panel title
              .panel-body
                p The thick line nearby title classifies one paper in a stack of sheets.
                p Title can be colored to be classified (to be highlighted, per se).
              .panel-heading
                h3.panel-title Forms
              .panel-body
                form
                  .input-group
                    span.input-group-addon Input
                    input.form-control(type='text')
                  .input-group
                    span.input-group-addon Disabled Input
                    input.form-control(type='text' disabled)
                  .input-group.has-error
                    span.input-group-addon Input Error
                    input.form-control(type='text')
                  p.clearfix
                    button.btn.btn-default.pull-right(type="submit") Submit
                    span.text-danger#error_of_the_form Section error message goes here
          .col-xs-4
            .page-header
              h1 Nav
            .list-group
              a.list-group-item.active(href='#')
                i.fa.fa-fw.fa-smile-o
                |  Main
              a.list-group-item(href='#')
                i.fa.fa-fw.fa-magic
                |  Automatic Tasks
              a.list-group-item(href='#')
                i.fa.fa-fw.fa-diamond
                |  Whatever this is
              a.list-group-item(href='#')
                i.fa.fa-fw.fa-eye
                |  Nav made graphic by icons
              a.list-group-item(href='#')
                i.fa.fa-fw.fa-gear
                |  Setting
      .bs-docs-section
        .page-header
          h1 Tabs and such
        .bs-component
          ul.nav.nav-tabs
            li.active
              a(href='#Tables', data-toggle='tab') Tables
            li
              a(href='#Forms', data-toggle='tab') More Forms
            li
              a(href='#Navs', data-toggle='tab') Navs
            li
              a(href='#Buttons', data-toggle='tab') Buttons
            li
              a(href='#Typography', data-toggle='tab') Typography
            li.disabled
              a Disabled
          .tab-wrap
            #myTabContent.tab-content
              #Tables.tab-pane.fade.active.in
                h1 Tab direct title h1
                h2 Tab direct title h2
                .page-header
                  h1 Tables
                table.table.table-striped.table-hover
                  thead
                    tr
                      th #
                      th Column heading
                      th Column heading
                      th Column heading
                  tbody
                    tr
                      td 1
                      td Column content
                      td Column content
                      td Column content
                    tr
                      td 2
                      td Column content
                      td Column content
                      td Column content
                    tr.info
                      td 3
                      td Column content
                      td Column content
                      td Column content
                    tr.success
                      td 4
                      td Column content
                      td Column content
                      td Column content
                    tr.danger
                      td 5
                      td Column content
                      td Column content
                      td Column content
                    tr.warning
                      td 6
                      td Column content
                      td Column content
                      td Column content
                    tr.active
                      td 7
                      td Column content
                      td Column content
                      td Column content

              #Forms.tab-pane.fade
                .row
                  .col-lg-12
                    .page-header
                      h1#nav Forms
                form.bs-component
                  .row
                    .col-xs-6
                      .form-group
                        label.control-label(for='focusedInput') Focused input
                        input#focusedInput.form-control(type='text', value='This is focused...')
                      .form-group
                        label.control-label(for='disabledInput') Disabled input
                        input#disabledInput.form-control(type='text', placeholder='Disabled input here...', disabled='')
                      .form-group.has-warning
                        label.control-label(for='inputWarning') Input warning
                        input#inputWarning.form-control(type='text')
                      .form-group.has-error
                        label.control-label(for='inputError') Input error
                        input#inputError.form-control(type='text')
                      .form-group.has-success
                        label.control-label(for='inputSuccess') Input success
                        input#inputSuccess.form-control(type='text')
                    .col-xs-6
                      .form-group
                        label.control-label(for='inputLarge') Large input
                        input#inputLarge.form-control.input-lg(type='text')
                      .form-group
                        label.control-label(for='inputDefault') Default input
                        input#inputDefault.form-control(type='text')
                      .form-group
                        label.control-label(for='inputSmall') Small input
                        input#inputSmall.form-control.input-sm(type='text')
                      .form-group
                        label.control-label Input addons
                        .input-group
                          span.input-group-addon $
                          input.form-control(type='text')
                          span.input-group-btn
                            button.btn.btn-default(type='button') Button
              #Navs.tab-pane.fade
                .page-header
                  h1#nav Navs
                .row
                  .col-lg-6
                    h2#nav-pills Pills
                    .bs-component
                      ul.nav.nav-pills
                        li.active
                          a(href='#') Home
                        li
                          a(href='#') Profile
                        li.disabled
                          a(href='#') Disabled
                        li.dropdown
                          a.dropdown-toggle(data-toggle='dropdown', href='#', aria-expanded='false')
                            | Dropdown 
                            span.caret
                          ul.dropdown-menu
                            li
                              a(href='#') Action
                            li
                              a(href='#') Another action
                            li
                              a(href='#') Something else here
                            li.divider
                            li
                              a(href='#') Separated link
                    br
                    .bs-component
                      ul.nav.nav-pills.nav-stacked
                        li.active
                          a(href='#') Home
                        li
                          a(href='#') Profile
                        li.disabled
                          a(href='#') Disabled
                        li.dropdown
                          a.dropdown-toggle(data-toggle='dropdown', href='#')
                            | Dropdown 
                            span.caret
                          ul.dropdown-menu
                            li
                              a(href='#') Action
                            li
                              a(href='#') Another action
                            li
                              a(href='#') Something else here
                            li.divider
                            li
                              a(href='#') Separated link
                  .col-lg-6
                    h2#nav-breadcrumbs Breadcrumbs
                    .bs-component
                      ul.breadcrumb
                        li.active Home
                      ul.breadcrumb
                        li
                          a(href='#') Home
                        li.active Library
                      ul.breadcrumb
                        li
                          a(href='#') Home
                        li
                          a(href='#') Library
                        li.active Data
                .row
                  .col-lg-6
                    h2#pagination Pagination
                    .bs-component
                      ul.pagination
                        li.disabled
                          a(href='#') «
                        li.active
                          a(href='#') 1
                        li
                          a(href='#') 2
                        li
                          a(href='#') 3
                        li
                          a(href='#') 4
                        li
                          a(href='#') 5
                        li
                          a(href='#') »
                      ul.pagination.pagination-lg
                        li.disabled
                          a(href='#') «
                        li.active
                          a(href='#') 1
                        li
                          a(href='#') 2
                        li
                          a(href='#') 3
                        li
                          a(href='#') »
                      ul.pagination.pagination-sm
                        li.disabled
                          a(href='#') «
                        li.active
                          a(href='#') 1
                        li
                          a(href='#') 2
                        li
                          a(href='#') 3
                        li
                          a(href='#') 4
                        li
                          a(href='#') 5
                        li
                          a(href='#') »
                  .col-lg-6
                    h2#pager Pager
                    .bs-component
                      ul.pager
                        li
                          a(href='#') Previous
                        li
                          a(href='#') Next
                      ul.pager
                        li.previous.disabled
                          a(href='#') ← Older
                        li.next
                          a(href='#') Newer →
                  .col-lg-4

              #Buttons.tab-pane.fade
                .page-header
                  .row
                    .col-lg-12
                      h1#buttons Buttons
                .row
                  .col-lg-6
                    p.bs-component
                      a.btn.btn-default(href='#') Default
                      a.btn.btn-primary(href='#') Primary
                      a.btn.btn-success(href='#') Success
                      a.btn.btn-info(href='#') Info
                      a.btn.btn-warning(href='#') Warning
                      a.btn.btn-danger(href='#') Danger
                      a.btn.btn-link(href='#') Link
                    p.bs-component
                      a.btn.btn-default.disabled(href='#') Default
                      a.btn.btn-primary.disabled(href='#') Primary
                      a.btn.btn-success.disabled(href='#') Success
                      a.btn.btn-info.disabled(href='#') Info
                      a.btn.btn-warning.disabled(href='#') Warning
                      a.btn.btn-danger.disabled(href='#') Danger
                      a.btn.btn-link.disabled(href='#') Link
                    div
                      .btn-toolbar.bs-component
                        .btn-group
                          a.btn.btn-default(href='#') Default
                          a.btn.btn-default.dropdown-toggle(href='#', data-toggle='dropdown')
                            span.caret
                          ul.dropdown-menu
                            li
                              a(href='#') Action
                            li
                              a(href='#') Another action
                            li
                              a(href='#') Something else here
                            li.divider
                            li
                              a(href='#') Separated link
                        .btn-group
                          a.btn.btn-primary(href='#') Primary
                          a.btn.btn-primary.dropdown-toggle(href='#', data-toggle='dropdown')
                            span.caret
                          ul.dropdown-menu
                            li
                              a(href='#') Action
                            li
                              a(href='#') Another action
                            li
                              a(href='#') Something else here
                            li.divider
                            li
                              a(href='#') Separated link
                        .btn-group
                          a.btn.btn-success(href='#') Success
                          a.btn.btn-success.dropdown-toggle(href='#', data-toggle='dropdown')
                            span.caret
                          ul.dropdown-menu
                            li
                              a(href='#') Action
                            li
                              a(href='#') Another action
                            li
                              a(href='#') Something else here
                            li.divider
                            li
                              a(href='#') Separated link
                  .col-lg-6
                    p.bs-component
                      a.btn.btn-default.btn-lg(href='#') Large button
                      a.btn.btn-default(href='#') Default button
                      a.btn.btn-default.btn-sm(href='#') Small button
                      a.btn.btn-default.btn-xs(href='#') Mini button
                    p.bs-component
                      a.btn.btn-default.btn-lg.btn-block(href='#') Block level button
                    .bs-component(style='margin-bottom: 15px;')
                      .btn-group.btn-group-justified
                        a.btn.btn-default(href='#') Left
                        a.btn.btn-default(href='#') Middle
                        a.btn.btn-default(href='#') Right
                      #source-button.btn.btn-primary.btn-xs(style='display: none;') < >
                    .bs-component(style='margin-bottom: 15px;')
                      .btn-toolbar
                        .btn-group
                          a.btn.btn-default(href='#') 1
                          a.btn.btn-default(href='#') 2
                          a.btn.btn-default(href='#') 3
                          a.btn.btn-default(href='#') 4
                        .btn-group
                          a.btn.btn-default(href='#') 5
                          a.btn.btn-default(href='#') 6
                          a.btn.btn-default(href='#') 7
                        .btn-group
                          a.btn.btn-default(href='#') 8
                          .btn-group
                            a.btn.btn-default.dropdown-toggle(href='#', data-toggle='dropdown')
                              | Dropdown
                              span.caret
                            ul.dropdown-menu
                              li
                                a(href='#') Dropdown link
                              li
                                a(href='#') Dropdown link
                              li
                                a(href='#') Dropdown link
                    .bs-component
                      .btn-group-vertical
                        a.btn.btn-default(href='#') Button
                        a.btn.btn-default(href='#') Button
                        a.btn.btn-default(href='#') Button
                        a.btn.btn-default(href='#') Button

              #Typography.tab-pane.fade
                .row
                  .col-lg-12
                    .page-header
                      h1#type Typography
                // Headings
                .row
                  .col-lg-4
                    .bs-component
                      h1 Heading 1
                      h2 Heading 2
                      h3 Heading 3
                      h4 Heading 4
                      h5 Heading 5
                      h6 Heading 6
                      p.lead Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                  .col-lg-4
                    .bs-component
                      h2 Example body text
                      p
                        | Nullam quis risus eget 
                        a(href='#') urna mollis ornare
                        |  vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
                      p
                        small This line of text is meant to be treated as fine print.
                      p
                        | The following snippet of text is 
                        strong rendered as bold text
                        | .
                      p
                        | The following snippet of text is 
                        em rendered as italicized text
                        | .
                      p
                        | An abbreviation of the word attribute is 
                        abbr(title='attribute') attr
                        | .
                  .col-lg-4
                    .bs-component
                      h2 Emphasis classes
                      p.text-muted Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.
                      p.text-primary Nullam id dolor id nibh ultricies vehicula ut id elit.
                      p.text-warning Etiam porta sem malesuada magna mollis euismod.
                      p.text-danger Donec ullamcorper nulla non metus auctor fringilla.
                      p.text-success Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
                      p.text-info Maecenas sed diam eget risus varius blandit sit amet non magna.

                      #dropdown1.tab-pane.fade
                        p
                          | Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.
                      #dropdown2.tab-pane.fade
                        p
                          | Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.

    script(src='resource/module/jquery/1.11.2/jquery.min.js')
    script(src='resource/module/bootstrap/3.3.4/js/bootstrap.min.js')

