doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='humphry.huang9@gmail.com')
    title Theme Stein for Bootstrap
    link(href='resource/module/fontawesome/4.3.0/css/font-awesome.css', rel='stylesheet')
    link(href='resource/style/theme.css', rel='stylesheet')
    link(href='resource/style/table.css', rel='stylesheet')
  body.with-fix-top
    nav.navbar.navbar-fixed-top.navbar-default
      .container
        .navbar-header
          a.navbar-brand(href='index.html') Boostrap-stein
        nav
          ul.nav.navbar-nav
            li
              a(href="index.html") Theme
            li.active
              a(href="#document" data-toggle="collapse") Table 
                b.caret
    #document.collapse.out
        div(style="padding: 2em 0 3em; background: #5bc0de; color:#FFF;")
            .container
                .row
                    .col-sm-7
                        h1 Large table display
                        h2 #1 Scale down
                        p When you display a super large table, usual means to freeze table top/left section might fail due to 2-way overflow direction. This demo shows how to tear a table down to 1-way direction scrolling by simply providing column-hiding functionality.
                        p Try clicking any column.
                        p: i * An download link providing <code>.csv</code> file is also preferable in this situation.
                    .col-sm-5
                        a.pull-right(href="#document" style="color:#FFF;" data-toggle="collapse"): i.fa.fa-close
                        h3 Scene
                        ul
                            li A data of time sequense
                            li Comparation of two row is important
                            li Cannot determine which column is of less importance
                        h3 Technics
                        ul
                            li Dynamic &lt;style&gt; inject
                            li String-based template (Minimun Implementation)
    #decoy_table_wrap(data-column='time name cellphone id password geographic width 3-5 1-100 mac date ua' data-rows="150" data-sort-by="time")
        .text-center.text-info(style="padding: 60px;")
            .fa.fa-circle-o-notch.fa-spin.fa-5x
    #wrap_popup
    #wrap_template
        script#template_list(type="text/html")
            .columnlist
                ul.nav.navbar-nav.navbar-right
                    li
                        a.dropdown-toggle(data-toggle="dropdown" role="button" aria-expanded="false") Selected ×
                            b  $selected_num$ 
                            i.caret
                        ul.dropdown-menu(role="menu")
                            li(class="$mode_has_select$")
                                a.js-show-selected(href="#")
                                    i.fa.fa-fw.fa-eye
                                    |  Hide anything but selected
                            li(class="$mode_has_select$")
                                a.js-hide-selected(href="#")
                                    i.fa.fa-fw.fa-eye-slash
                                    |  Hide selected
                            li(class="$mode_has_hide$")
                                a.js-reset-all(href="#")
                                    i.fa.fa-fw.fa-refresh
                                    |  Reset all
                            li.divider
                            li.dropdown-header Selected columns:
                            | $selectedList$
                    li
                        a.dropdown-toggle(data-toggle="dropdown" role="button" aria-expanded="false")  Hidden ×
                            b  $hidden_num$ 
                            i.caret
                        ul.dropdown-menu(role="menu")
                            li(class="$mode_has_hide$")
                                a.js-reset-all
                                    i.fa.fa-refresh.fa-fw
                                    |  Reset all
                            li.divider
                            li.dropdown-header Hidden columns:
                            | $hiddenList$
                        style $hidItemSelector${display: none!important;}
                        style $selectItemSelector${ background: #FFF6EA; }
    script(src='resource/module/jquery/1.11.2/jquery.min.js')
    script(src='resource/module/bootstrap/3.3.4/js/bootstrap.min.js')
    script(src='resource/script/decoy-table-generator.js')
    script(src='resource/script/column-hidder.js')