th,
td {
  white-space: nowrap;
  padding: 8px 1em 8px 8px!important;
}
table {
  margin: 10px 0 0 10px;
}
.table {
  width: auto;
}
td {
  font-family: consolas, courier, monospace;
}
td:hover {
  background: #D1FFEC!important;
}
.columnlist {
  position: fixed;
  top: 0;
  right: 15px;
  z-index: 1030;
}
